*{
    margin: 0;
}

body{
    background-color: #E4BB8E;
}

/*NAVIGATION*/
nav{
/*font look*/
    font-family: "Rubik";
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-transform: uppercase;
/*visual adjustments*/
    width: 100%;
    padding-top: 25px;
    justify-content: center;
    margin: 40px 10px 40px 10px;
    display: flex;
    gap: 200px;
}
nav a{
    display: flex-box;
    background-color: #666D4F;
    border-width: thick;
    border-style: dotted;
    text-decoration: none;
    color:beige; 
}
nav a:hover{
    background-color:#EBA3C8;
    border-width: thick;
    border-style: dotted;
    text-decoration: none;
    color: peachpuff;
}

/*div 'panel' background*/
.panel{
    background-color:#efe5d3;
    padding:0 20px 0 40px;
    margin: 10px 50px 25px 35px;
}

/*gif*/
.gif{
max-width: 40%;
}

/*text on pages*/
h1,h4{
text-align: center;
}
h2{
text-align: center;
font-size: 22px;
}
h5{
    font-family: "Rubik";
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
    /*text adjustments*/
    text-align: center;
    margin: 0 355px 0 355px;
    padding-top: 20px;
}
.foot{
font-family: "Rubik";
font-weight: 300;
font-size: 24px;
text-decoration: none;
color: #666D4F;
}

/*home visuals*/
.flex{
display:flex;
justify-content: center;
}

/*inspiration images*/
.inspo{
font-family: "Rubik";
font-weight: 600;
font-size: 30px;
text-decoration: none;
color: #666D4F;
text-align: center;
}
h3:hover{
text-decoration: none;
color: #EBA3C8;
}
/*for inspo images and home pg bio*/
.pad-ins{
padding-top: 30px;
}

.artists{
display:block;
margin-left: auto;
margin-right: auto;
}
