
body{
    background-color: #E4BB8E;
}

/*NAVIGATION*/
nav{
/*font look*/
    font-family: "Handjet", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
/*visual adjustments*/
    top: 0%;
    margin: auto;
    width: 100%;
    padding-top: 25px;
    margin: 40px 10px 40px 10px;
    max-width: 700px;
}
nav a{
    display: flex-box;
    background-color: #666D4F;
    text-decoration: none;
    color:beige;
    
}
ul{
list-style-type: none;
}

li{
display: inline;
}
/*NAVIGATION*/


/*div panel background*/
.panel{
    background-color:#efe5d3;
    margin:auto;
    padding-left: 40px;
    padding-right: 20px;
    max-width: 800px;
}

/*gif*/
.gif{
display:inline-block;
max-width: 40px;
}

/*text on page*/
h5{
    font-family: "Handjet", sans-serif;
    font-weight: 300;
    font-size: 24px;
    font-style: normal;
}

.foot{
font-family: "Handjet", sans-serif;
font-weight: 300;
font-size: 24px;
text-decoration: none;
color: #666D4F;
}
