*{
    margin: 0;
    text-decoration: none;
}

body{
    background-color: #E4BB8E;
}

/*NAVIGATION*/
nav{
/*font look*/
    font-family: "Rubik";
    font-weight: 400;
    font-size: 50px;
    text-transform: uppercase;
/*visual adjustments*/
    width: 100%;
    padding-top: 25px;
    justify-content: center;
    margin: 40px 10px;
    display: flex;
    gap: 200px;
}
nav a{
    display: flex-box;
    background-color: #666D4F;
    border-width: thick;
    border-style: dotted;
    color:beige; 
}
nav a:hover{
    background-color:#EBA3C8;
    border-width: thick;
    border-style: dotted;
    color: peachpuff;
}

/*div 'panel' background*/
.panel{
    background-color:#efe5d3;
    padding:0 20px 0 40px;
    margin: 10px 50px 25px 35px;
}

/*gif*/
.gif{
max-width: 40%;
}

/*text on pages*/
h1,h4{
font-family: "Rubik";
font-weight: 200;
font-style: italic;
text-align: center;
}
h2{
font-family: "Rubik";
text-align: center;
font-size: 22px;
}
h5{
    font-family: "Rubik";
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    /*text adjustments*/
    text-align: center;
    margin: 0 355px;
    padding-top: 20px;
}
section{
padding-bottom: 20px;
}
.foot{
font-family: "Rubik";
font-weight: 300;
font-size: 24px;
color: #666D4F;
}

/*home visuals*/
.flex{
display:flex;
justify-content: center;
}

/*inspiration images*/
.inspo{
font-family: "Rubik";
font-weight: 600;
font-size: 30px;
color: #666D4F;
text-align: center;
}
h3:hover{
color: #EBA3C8;
}
/*for inspo images and home pg bio*/
.pad-ins{
padding-top: 30px;
}
.artists{
display:block;
margin-left: auto;
margin-right: auto;
}

/*for top fives*/
ol,li{
justify-content: center;
font-family: "Rubik";
font-size: 18px;
font-weight: 600;
color: #666D4F;
}
li:hover{
color: #EBA3C8;
}
dd{
font-family: "Rubik";
color: #666D4F;
font-size: 18px;
padding: 9px;
}

#top5s{
flex-wrap: wrap;
border-radius: 35px;
padding: 45px;
}


.lists{
display: flex;
padding: 35px;
}
    
.items{
max-width: 90%;
max-height:98%;
border-radius: 35px;
}
.places{
color: #666D4F;
}
.places:hover{
color: #EBA3C8;
}
.gwapo{
max-width: 98%;
max-height:98%;
border-radius: 35px;
}